<div class="jumbotron">
  <h1>O mnie...</h1>
  <p>Nazywam się Benny i tworzę aplikację gallery</p>
  <%= link_to 'O mnie', home_about_path, class: 'btn btn-warning btn-lg'%>
  <%= link_to 'Strona główna', root_path, class: 'btn btn-primary btn-lg'%>
</div>