<div class="panel panel-default">
  <div class="panel-heading"><h2>Nowy Post</h2></div>
    <div class="panel-body">

</div>

<div class="panel-footer"><%= render 'form', post: @post %>
<%= link_to 'Wstecz', posts_path %></div>
</div>
